<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python Flask App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css">

    {% block script %}
    {% endblock %}

</head>

<body>
    <div class="container">
         
        {% block body %}
        {% endblock %}

        <footer class="footer">
            <p>&copy; Exemplo XPTO </p>
        </footer>
    </div>


</body>

</html>