{% extends "_layout.html"  %}
{% block body %}
<div class="header">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li class="presentation"><a href="#">Login</a></li>
        </ul>
    </nav>
    <h3>Portifólio do Cientista de dados</h3>
</div>

<div class="jumbotron">
    <h1>Acompanhe Meu Portifólio de Projetos</h1>
    <p class="lead"></p>
    <p><a class="btn btn-lg btn-success" href="singup" role="button">Faça seu cadastro</a></p>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Projeto 1</h4>
        <p>Criação de app analítica para previsão de vendas.</p>

        <h4>Projeto 2</h4>
        <p>Análise de sentimentos em tempo real</p>

        <h4>Projeto 3</h4>
        <p>Detecção de fraudes na contabilidade</p>
    </div>

    <div class="col-lg-6">
        <h4>Projeto 4</h4>
        <p>Análise e previsão de turover dos colaboradores</p>

        <h4>Projeto 5</h4>
        <p>Dashboard de previsão de faturamento em tempo real por produto e por região</p>

        <h4>Projeto 6</h4>
        <p>Robo advogado</p>
    </div>
</div>
{% endblock %}